.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    background-color: white;
}


.left-section{
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.middle-section{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 50px;
    max-width: 470px;
}

.right-section{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    flex-shrink: 0;
}

.right-icons{
    height: 30px;
    border-radius: 100px;
}

.search-button{
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: -1px;
    border: solid 1px rgb(204, 204, 204);
    background-color: rgb(247, 247, 247);
}

.search-bar{
    width: 0;
    flex: 1;
    font-size: 17px;
    padding-left: 10px;
    border: solid 1px rgb(204, 204, 204);
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
}


.search-bar::placeholder{
    font-family: Roboto;
    font-size: 15px;
}

.voice-button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    background-color: rgb(248, 248, 248);
}


.menu-logo{
    height: 28px;
    margin-right: 22px;
}

.youtube-logo{
    height: 25px;
}

.search-logo{
    height: 25px;
}

.voice-logo{
    height: 23px;
}



