.sidebar{
    position: fixed;
    left: 0;
    top: 57px;
    bottom: 0;
    width: 80px;
    padding-top: 5px;
    background-color: white;
    z-index: 100;
}

.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
    transition: background-color .15s;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(233, 232, 232);

}

.sidebar-icon{
    width: 35px;
    margin-bottom: 8px;

}

.sidebar-name{
    font-size: 11px;

}